body{
  background-color:tan;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  min-height: 85vh;
  width: 90vw;
  background-color: rgba(255, 0, 0, 0.518);
  border-radius: 5px;
  padding: 0;
  
}

.left{
  min-height: inherit;
  width: 35vw;
  background-color: #0987cc;
  margin: 0;
  display: flex;
  border-radius: 5px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 2vw;
}

.left h1{
  color: white; 
  font: 600 2.5vmax "montserrat";
}

.left h3{
  width: 75%;
  color: rgba(255, 255, 255, 0.727); 
  font: 600 1.3vmax "montserrat";
}

.hr{
    height: 7px;
    width: 55%;
    background-color: #00ff8b;
    border-radius: 3px;
    border: none;
    margin: 1.5vmax 0 ;
}


.right{
  min-height: inherit;
  width: 65vw;
  background-color:white;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 2vw;
}

.btn{
  background-color: #00ff8b;
  border: none;
}